/packages/costrade/build/
/packages/frontend/node_modules/
/packages/frontend/.next/
/packages/frontend/build/
/packages/frontend/dist/
/packages/frontend/.env.local
/packages/frontend/.env.development.local
/packages/frontend/.env.production.local
/packages/frontend/.env.test.local
/packages/frontend/.env.local
/packages/frontend/.env.development.local
/packages/frontend/.env.production.local